*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0 0;
}

body{
  background-color: black;
  line-height: 30px;
}

.Nav{
  margin: 0;
}

.card{
  margin: 0 5%;
  padding-top: 100px;
}
